<%- include("partials/header.ejs")  %>

    <div class="px-4 py-5 my-5 text-center stbtn">
        <img class="d-block mx-auto mb-2" src="/styles/btwin.png" alt="Btwin company logo and slogan" height = "25%">
        <h1 class="display-5 fw-bold text-body-emphasis">BTWIN The Blog</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">"Welcome to BTWIN the Blog, your go-to destination for a tech-savvy journey! Dive into a world where technology meets insight, as we unravel the latest trends, share expert knowledge, and explore the digital frontier. Whether you're a coding enthusiast, gadget guru, or simply curious about the tech realm, our diverse range of technical blogs has something for everyone. Join us on this exciting adventure as we decode the complexities of the digital landscape, offering informative and engaging content to empower your tech journey. Stay connected, stay informed, and let's navigate the fascinating world of technology together!"</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
           
          </div>
        </div>
      </div>


      <div class=" container ">

        <h2 class=" d-flex justify-content-sm-center"> <i class="ppl"> Here are some of our featured blogs......</i></h2>

        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Iphone vs Android </h3>
                  <p class="card-text mb-auto">The smartphone industry has been dominated by two giants for over a decade. Apple and android both platforms have amassive following and offer unique features and functionalities that cater to different user preferences. The Apple vs Android debate has sparked countless discussions and passionate arguments among tech enthusiasts....</p>
                  <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                  </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img src ="./styles/appvsand.jpg" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">My experience with the Ola S1 Pro</h3>
                  <p class="mb-auto">Electric vehicles have taken the world by storm, and the revolution is not limited to cars. The scooter market has seen a surge in popularity, with companies like Ola leading the charge. Ola, known for its ride-hailing services, has ventured into manufacturing electric scooters with the launch of the highly anticipated Ola S1 Pro. In this blog post, we will delve into the features, specifications, and impact of the Ola S1 Pro on the electric scooter market. Following is my experience with my Ola S1 Pro ..</p>
                  <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                  </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img src = "./styles/ola.jpeg" class="bd-placeholder-img" width="280" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
                </div>
              </div>
            </div>
          </div>

        
          <div class=" d-flex justify-content-sm-center ppl "> Some More blogs </div>

        <ul class = "container p-2">
          <% for( let i = 0; i < ttls.length; i++ ) { %>

              <li class ="bpix mb-4 p-4"> <h2>   <%= ttls[i]  %> </h2>   
                <p> <%= blgs[i] %></p>

                <form action="/blogsDel" method = "POST">


                  <button  type="submit" name = "deleteBtns" id="blogTitle<%= i %>" value = "<%= i %>" class="btn btn-primary act">Delete   </button>



                </form>
                <div>
                  <button   id="blogEdit<%= i %>" class="btn btn-primary act">Edit   </button>



                </div>

                
                </li>
              
            <% } %>
        </ul>
      </div>

    
<%- include("partials/footer.ejs") %>